@model Registration_Form_using_html_helpers_.Models.myModel

@{
    ViewBag.Title = "Index";
}

<h2>Registration Form</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <title>Index</title>
    <style>
        body{
            font-family:Arial;
            font-size:10pt;
        }
        table{
            border:1px solid #ccc;
            border-collapse:collapse;
            background-color:#fff;
        }
        table th{
            background-color:#BBDBFD;
            color:#333;
            font-weight:bold;
        }
            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }
            table, table table td {
                border: 0px solid #ccc;
            }
            input[type=text],select{
                width:150px;
            }
            button{
                padding-left:100px;
                text-align:center;
            }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th colspan="2" align="center">Person Details</th>
                </tr>
                <tr>
                    <td>PersonId:</td>
                    <td>@Html.TextBoxFor(m => m.PersonId)</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>@Html.TextBoxFor(m => m.Name)</td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td>
                        @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
               {
                new SelectListItem{Text="Male", Value="M"},
                new SelectListItem{Text="Female", Value="F"}}, "Please Select")
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td>@Html.TextBoxFor(m => m.City)</td>
            </tr>
            <tr>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
        </table>

    }
    </div>
  
</body>
</html>
